.container-body{
  width: 90%;
  max-width: 1000px;
  margin: 20px ;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 100px;
  padding: 0px 10px;
}
.user-list-container{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
}
h1, h5, p{
  display: flex;
  justify-content: center;
}